<div id="img-modal<%= post.id %>" class="modal">
    <div class="modal-content">
        <div class="modal-body">
<!--modal left-->
            <div class="modal-left-info">
                <img class="modal-img" src=<%="/post_images/#{post.post_imgname}"%>>
            </div>
<!--modal right-->
            <div class="modal-right-info">
                <div class="left-section">
                    <img class="mo-user-icon" src="/default-user-icon.png">
                    <div class="mo-user-name"><%= post.user.name %></div>
<% if @current_user && post.user != @current_user %>
                    <div id="follow_buttons_<%= post.user.id %>" class="follow-btn">
                        <%= render partial: 'posts/user_follow', locals: {user: post.user} %>
                    </div>
<% end %>
                </div>
<%= form_with model: post do |form| %>
                <div class="right-section"></div>
                <%= form.submit "更新"%>

<!--info-->
                <div class="mo-main-infocontainer">
                    <i class="fa fa-tags"></i></p>
                    <i class="far fa-clock"></i><%= post.created_at =%></p>
                    <i class="fa fa-shopping-bag"></i><%= form.text_field :item_name %></p>
                    <i class="fa fa-money"></i><i class="fa fa-jpy"></i><%= form.text_field :price %></p>
                    <i class="fa fa-star-half-empty"></i></p>
                    <i class="fa fa-pencil-square-o"></i><%= form.text_area :comment %></p>
<% end %>
                </div>
            </div>
        </div>
    </div>
</div>
