<!DOCTYPE html>
<html>
  <head>
    <title>BUYED</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  </head>


  <body>
    <header>
      <div class="header-logo">
        <%= link_to("/") do %>
        <img src="/BUYED logo.jpg" class= "logo">
        <% end %>
      </div>
        <ul class="header-menu">
          <% if @current_user %>
            <li>
            <%= @current_user.name %>
            </li>
          <% end %>
            <li>
            <%= link_to("BUYEDについて","/about",class:"li-list") %>
            </li>
            <li>
            <%= link_to("投稿一覧","/posts/index",class:"li-list") %>
            </li>
             <li>
            <%= link_to("投稿する","/posts/new",) %>
            </li>
            <li>
            <%= link_to("ログアウト","/logout",{method: :post, class:"li-list"})  %> 
            </li>
        </ul>
  </header>
      <% if flash[:notice] %>
        <div class="fade-in-flash"><%= flash[:notice] %></div>
      <% end %>
    <%= yield %>
  </body>

</html>
